/* 라이트모드 색상 */
:root {
  --background: #ffffff;
  --foreground: #181818;
  --boxbg: #fff;
	--boxborder: #2A2632;
}

/* 다크모드 색상 */
.dark {
  --background: #181818;
  --foreground: #ffffff;
  --boxbg: #655B72;
	--boxborder: #50F8DC;
}